DEV-11/DEV-11App/Web References/DaysCounter/DaysCount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GET TO KNOW HOW MANY DAYS IT HAS BEEN SINCE CHRIST'S BIRTH</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="HowManyDays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HowManyDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HowManyDaysResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HowManyDaysSoapIn">
    <wsdl:part name="parameters" element="tns:HowManyDays" />
  </wsdl:message>
  <wsdl:message name="HowManyDaysSoapOut">
    <wsdl:part name="parameters" element="tns:HowManyDaysResponse" />
  </wsdl:message>
  <wsdl:portType name="DaysFromTheBeginningOfEraSoap">
    <wsdl:operation name="HowManyDays">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HOW MANY DAYS</wsdl:documentation>
      <wsdl:input message="tns:HowManyDaysSoapIn" />
      <wsdl:output message="tns:HowManyDaysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DaysFromTheBeginningOfEraSoap" type="tns:DaysFromTheBeginningOfEraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HowManyDays">
      <soap:operation soapAction="http://microsoft.com/webservices/HowManyDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DaysFromTheBeginningOfEraSoap12" type="tns:DaysFromTheBeginningOfEraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HowManyDays">
      <soap12:operation soapAction="http://microsoft.com/webservices/HowManyDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DaysFromTheBeginningOfEra">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GET TO KNOW HOW MANY DAYS IT HAS BEEN SINCE CHRIST'S BIRTH</wsdl:documentation>
    <wsdl:port name="DaysFromTheBeginningOfEraSoap" binding="tns:DaysFromTheBeginningOfEraSoap">
      <soap:address location="http://localhost:50691/DaysCount.asmx" />
    </wsdl:port>
    <wsdl:port name="DaysFromTheBeginningOfEraSoap12" binding="tns:DaysFromTheBeginningOfEraSoap12">
      <soap12:address location="http://localhost:50691/DaysCount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>